<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.heiman.gateway">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".GwActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".LTLinkActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>
